.explanation{max-width: 100ch;}

.mod_navigation.tree{
	li{display: block;list-style: none; padding: 0.25em	 0.45em; position: relative;
		&:before{ content: ""; border-left: 1px solid currentColor; height: 100%; position: absolute; left: -0.45em; top: 0;}
		&:after{ content: ""; width: 0.5em; border-bottom: 1px solid currentColor; height: 1px; display: block; position: absolute; left: -0.45em; top: 1.05em;}
		&.last:before{height: 1.05em;}
		&.submenu:not(.last):before{height: 100%;}
	}
}

.callout{ width: 100%; max-width: 800px;
	&:not([class*='m-top']){@extend .m-top-x2 !optional;}
	&:not([class*='m-bottom']){@extend .m-bottom-x2 !optional;}
	&:not([class*='m-left']):not([class*='m-right']){margin-left: auto; margin-right: auto;}
}
body.aside{
	#container{display: flex;max-width: 100%;}
	#main{flex-grow: 1; max-width: 100%;}
}
aside.sidenav{position: sticky; top: 120px; padding: $spacing; height: 90vh; overflow: auto;
	scrollbar-width: thin;
	scrollbar-height: thin;
    scrollbar-color: rgba($primary,0.1) rgba($primary,0.1);
    &::-webkit-scrollbar {width: 8px; }
    &::-webkit-scrollbar-track {background: rgba($primary,0.1); }
    &::-webkit-scrollbar-thumb {background-color: rgba($primary,0.25); border-radius: 20px; border: 0; }
	@include media-max(sm){display: none;}
}